@use "./theme/index.module.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $montserrat;
}

/*---------------------------------------
    TYPOGRAPHY               
  -----------------------------------------*/

p {
  color: var(--p-color);
}

ul li {
  color: var(--p-color);
  margin: 0;
  padding: 0;
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
  text-decoration: none;
}

a {
  color: $fontDark;
  text-decoration: none;
}

a:hover {
  color: $secondary;
}

::selection {
  background: $secondary;
  color: $white;
}

::-moz-selection {
  background: $secondary;
  color: $white;
}

.br16 {
  border-radius: 16px;
}
.br6 {
  border-radius: 6px;
}
.br4 {
  border-radius: 4px;
}

button {
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.form-select {
  background-color: transparent;
  border: none;

  &:focus {
    box-shadow: none;
  }
}

.dropdown-menu {
  box-shadow: $boxShadow;
  border: 1px solid #efefef;
}
