.inputContainer {
    display: flex;
    gap: 9px;
    flex-flow: column;
    width: 100%;
    .label {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        font-family: "Montserrat", sans-serif;
        color: #5C6A7A;
    } 
    .textarea {
        width: 100%;
        padding: 15px 13px;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        height: 150px;
        resize: none;
        outline: none;
    }
}
