@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// brand color

$primary: #002248;
$secondary: #1893f8;
$secondaryLight: #f1f5f5;

// Text color

$fontlight: #5c6a7a;
$fontDark: #002248;

// Other

$white: #ffffff;
$black: #1b1b1b;
$hover: #e6f2fc;

//  Font family

$montserrat: "Montserrat", "sans-serif";

// Border Redius
$BR100: "100px";
$BR50: "50px";
$BR10: "10px";
$BR12: "12px";
$BR6: "6px";
